body {
  background-color: rgb(20, 66, 110);
  margin: 0;
  font-family: sans-serif
}

.topthinbluestrip {
  background-color: rgb(20, 66, 110);
  height: 6px;
}

.applynow {
    cursor: pointer;
  background-color: rgb(182, 41, 59);
  font-size: 19.5px;
    font-weight:550;
 width:160px;
    height:45px;
  margin: 4px 2px;
  padding: 10px 32px;
  color: white;
  font-family: sans-serif;
  border-radius: 4px;
  -webkit-transition-duration: 0.1s;
 
  transition-duration: 0.1s;

box-shadow:inset 0.55px 0.90px 2.5px 0.25px white;
   
    border: rgb(182, 41, 59) solid;
    border-width:thin;

    
}

.applynow:hover {
  background-color: rgb(167, 38, 59);
}

.topwhitestrip {
  width: 100%;
  margin: 0;
  font-family: "Arial", serif;
  color: rgb(0, 124, 211);
  font-weight: bold;
  background-color: white;
  height: 86px;
  width: 100%;
}

.fortheimage {
  margin-left: 68px;
  float: left;
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 17px;
  height: 75px;
  width: 270px;
  vertical-align: middle;
    
  
}

.fortext {
    
    margin-left:5px;
 margin-top:17px; 
  line-height:22px;
  float: left;
  font-weight: 540;
  font-size: 18px;
  height: 60px;
  margin-left: 82px;
}

.number {
  padding-left: 105px;
  padding-top: 3px;
}

.forbutton {
  padding-top: 13px;
  margin-left:12px;
    
  float: left;
  height: 90px;
  width: 180px;
  height: 60px;
  font-size:14px;
 
}

.middleblue {
  font-family: "Arial", serif;
  font-size: 4px;
  color: white;
  width: 100%;
  height: 404px;
  width: 100%;
  vertical-align: middle;
}

.moneytext {
  font-weight: bold;
  font-size: 57px;
  text-align: center;
    line-height: 56px;
 padding-top:16px;
    font-weight:900;
}

.personalauto {
  font-size: 36px;
 font-weight:500;
  text-align: center;
  height: 60px;
}

.getinfolayer {

  width: 210px;
margin-left:458px; 
  height: 60px;
  float: left;
}

.getinfo {
      cursor: pointer;
  background-color: rgb(182, 41, 59);
  font-size: 20px;
  font-weight:500;
    
    font-family: sans-serif;
 
  color: white;
 padding-top:4px;
    
  border-radius: 4px;
 
    margin-top:30px;
    width:141px;
    height:46px;
    margin-left:px;
     box-shadow:inset 0.55px 0.90px 4px 0.25px white;
   
    border: rgb(182, 41, 59) solid;
    border-width:thin;
}

.getinfo:hover {
  background-color: rgb(167, 38, 59);
  color: white;

}

.businesslogo {
 
  width: 150px;
  float: left;
  margin-left: 214px;
    margin-top:30px;
}

.bottomwhite {
  width: 100%;
  margin: 0;
  background-color: white;
  height: 600px;
  
}

.millionstext {
  color: rgb(45, 132, 209);
  font-family: "Arial";
  font-size: 48px;
  font-weight: bold;
  text-align: center;
 
   position: relative;
    top: -4px; 
    line-height: 50px;
   
}
.outerbox
{
    height: 300px;
    width: 800px; 
 
    margin-left: 140px;
    position:relative;
    top:8px;
}
#box1
{

    width:400px; 
    height: 150px;
}
#box2
{ 

    width:380px;
    margin-left:410px;
    height: 153px; 
    margin-top: -159px
}
#box3{

    width:400px; 
    height: 150px;
}
.checkmark1{

    margin-left:77px;
   
    width:40px;
}
.checkmark2{

    margin-left:20px;
    width:40px;
    height:30px;
    margin-top:5px;
    margin-left:-6px;
}
.checkmark3{

    width:40px;
    height:35px;
    margin-left:77px;
}
.checkmark4{

    width:40px;
    height:30px;
    margin-left:405px;
    margin-top:-153px;
   
    
}
.headingsOfChecks{
    font-weight: 540;
    font-size:24px;
}
.textOfChecks{
    font-weight:100;
    font-size:18px;
    line-height: 25px;
    

   
}
.bullet1 {

  float: left;
  margin-left: 130px;
  text-align: center;
  
  width: 240px;
  margin-top:-37px;
  text-align: left;
   
    
}

.bullet2 {

  margin-left:45px;
  float: left;
  text-align: center;
  
  width: 260px;
  height: 90px;
    margin-top:-38px;
    text-align: left;
     text-align: left;
    
}

.bullet3 {
  text-align: justify;
  margin-left: 130px;
  float: left;
  width: 240px;
  text-align: center;
margin-top:-35px;

     text-align: left;
}

.bullet4 {
  margin-left: 87px;
  width: 230px;
  float: left;
  text-align: center;
 margin-top:-38px;

     text-align: left;

}

.bottombluethinstrip {
  width: 100%;
  margin: 0;
  background-color: rgb(41, 113, 177);
  height: 12px;
  width: 100%;
}

.bottomblue {
  height: 100px;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.bottomtext {
  font-size: 15px;
  margin-left: 62px;
  margin-top: 15px;
}
.legaltext:hover{
    text-decoration:underline;
}

.legaltext{
    position: relative;
    top: 20px;
}

.disclosuretext:hover{
    text-decoration:underline;
    
}
hr {
    height:0.5px;
 border-color: rgb(38, 109, 171);
  margin-left: 62px;
  margin-right: 80px;
  margin-top: 28px;
  margin-bottom: 3px;
    border-style:solid;
}

.copyright {
  color: white;
  margin-left: 62px;
  margin-top: 17px;
  font-size: 12px;
}

#circle {
   
  color: rgb(0, 110, 176);
  font-size: 28px;
 

}


.disclosuretext{
    position: relative;
    
    top:17px;
    
